.dashboard{
    display:flex;
    background-color:var(--blue-shade-8);
    height:100vh;
    width:100%;
    transition: "all 0.5s ease-in-out";
}

.flex-direction-column{
    display:flex;
    flex-direction:column;
}

.flex-direction-row{
    display:flex;
    width:100%;
    align-items: flex-start;
    justify-content: center;
}

.display-flex-between{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.account-balances .display-flex{
    display:flex;
    margin:0;
}

.border-right{
    border-right: 3px solid white;
}

.border-bottom{
    border-bottom: 3px solid white;
}

.dashboard-elements{
    width:100%;
    overflow:auto;
}

.analytics-content{
    margin:0;
}

.dashboard-title-container{
    margin:0 auto ;
    padding:20px 20px;
    background-color:var(--blue-shade-9);
    color:var(--blue-shade-1);
    font-size: 20px;
    font-weight:500;
    width:calc(100% - 40px);
    height:40px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.arrow{
    display:flex;
    align-items: center;
    margin-right:20px;
}

.dashboard-title-text{
    margin:0;
    font-size:30px;
}

.account-balances{
    display:flex;
    width:100%;
    justify-content: center;
}

.assets-value{
    background:var(--blue-shade-1);
    margin:20px;
    margin-left:0;
    border-radius: 10px;
}

.assets-value-title-container{
    display:flex;
    align-items:center;
    margin: 10px 20px 10px 0;
    justify-content:space-between;
}

.assets-value-title{
    padding:0 100px 0 20px;    
    margin:0;
}

.assets-values-container{
    margin: 0 20px;
    display:flex;
    justify-content: space-between;
}

.assets-text{
    margin:10px 0;
}

.monthly-expenses-title-container{
    width:100%;
    display:flex;
}

.monthly-expenses-title{
    background-color: var(--blue-shade-1);
    border-radius:10px;
    text-align:center;
    margin:0;
    margin-top:20px;
    width:833px;
}

.spend{
    background:var(--blue-shade-2);
    margin:20px 10px;
    border-radius: 10px;
    min-width: 170px;
}

.spend:nth-child(1){
    margin-left:0;
}

.spend:nth-child(4){
    margin-right:0;
}

.spend-title-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 20px 20px 10px 0;
    font-size:14px;
}

.spend-title{
    padding:0 30px 0 20px;    
    margin:0;
}

.spend-total{
    text-align:center;
}

.dashboard-recent-transactions-container{
    background-color:var(--blue-shade-6);
    border-radius:10px;
    padding-bottom:10px;
}

.dashboard-recent-transactions-title{
    margin:0;
    padding: 10px 20px 10px 20px;
    border-radius:10px 10px 0 0;
    background-color:var(--blue-shade-1)
}

.dashboard-recent-transactions-grid-titles-container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:10px;
    border-radius:5px;
}

.dashboard-recent-transactions-grid-title{
    padding:5px 10px;
    text-align:center;
    background-color: var(--blue-shade-7);
    color:white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    font-size:20px;
    font-weight:900px;
}

.transactions-grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:0 10px;
}

.transactions-grid:last-child{
    border-bottom:3px solid white;
    border-radius: 5px;
}

.transactions-grid-item{
    padding:5px 10px;
    text-align:center;
    background-color:var(--blue-shade-8);;
    color:white;
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.transactions-grid-item-sum{
    text-align:right;
}

.transactions-grid-item-purpose{
    text-align:left;
}

.transactions-grid-item-purpose::first-letter {
    text-transform:capitalize;
}

.transactions-grid-item-category{
    background-color: rgb(44, 164, 44);
}

.no-transaction-text{
    text-align:center;
}

.expenditures-container{
    margin-left:30px;
    border-radius:10px;
    background-color:var(--blue-shade-6);
}

.addCash-expenditure-title{
    margin:0 auto 30px;
    padding:10px 200px 10px 20px;
    border-radius:10px 10px 0 0;
    background-color:var(--blue-shade-1);

}
.purchase-input{
    display:flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

.purchase-input-text{
    margin:0;
    font-size:16px;
}

.purchase-input-field{
    border-radius:2px;
    border:none;
    width:70%;
    font-family: 'Poppins', sans-serif;  
}

.purchase-input-field:focus{
    outline:none;
}

.expenditure-sum-input{
    display:flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

.expenditure-sum-input-text{
    margin:0;
    font-size:16px;
}

.expenditure-sum-input-field{
    border-radius:2px;
    border:none;
    width:70%;
    font-family: 'Poppins', sans-serif;
}

.expenditure-sum-input-field:focus{
    outline:none;
}

.expenditure-date-input{
    text-align: center;
    margin-bottom:10px;
    padding:0;
}

.expenditure-date-input-field{
    font-family: 'Poppins', sans-serif;    
}

.expenditure-category{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:20px;
}

.category-input-text{
    margin:0 0 10px 0;
}

.category-input-field{
    justify-content: start;
}

input[type="radio"]{
    margin:4px 5px 4px 16px;
    height: 20px;
}

.submit-expenditure{
    text-align: center;
}

.submit-expenditure-button{
    border:none;
    font-family: 'Poppins', sans-serif;    
    background: var(--blue-shade-1);
    color:white;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.submit-expenditure-button:active{
    transform: scale(0.95);
}

.error-box{
    background:#ffdce0;
    color:#922c2b;
    padding:10px 20px;
    margin:-15px auto 15px;
    border: 1px solid #922c2b;
    border-radius: 10px;
    width:70%;
}

.error-text{
    padding:0;
    margin:0;
    font-size:12px;
}

.error-title{
    padding:0;
    margin:0;
    font-size:16px;
}

@media (max-width: 1175px){
.flex-direction-column{
    overflow: auto;
}

.account-balances{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    gap:20px;
    margin:20px 0;
}

.assets-value{
    margin:0;
}

.monthly-expenses-title{
    margin: 20px 0;
    width:448px;
}

.account-balances .display-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.spend{
    margin:0;
}

.flex-direction-row{
    flex-direction:column;
    align-items:center;
    width:100%;
    gap:20px;
    margin:20px 0;
}

}

@media (max-width: 800px){
    .dashboard-recent-transactions-title{
        padding:10px 10px 10px 10px !important;
        font-size:15px;
    }
    .dashboard-recent-transactions-container{
        width:350px;
        font-size:50%;
    }
    .transactions-grid-item{
        padding:1px 2px !important;
    }

    .recent-transactions-grid-titles-container{
        width:330px !important;
    }

    .dashboard-recent-transactions-grid-title{
        font-size:8px !important;
        border-top: 2px solid white !important;
        border-left: 2px solid white !important;
        border-bottom: 2px solid white !important;
        padding: 4px 8px !important;
    }
    .dashboard-recent-transactions-grid-title:last-child{
        border-right: 2px solid white !important;
    }
    .transactions-grid-item{
        border-top: 2px solid white !important;
        border-left: 2px solid white !important;
    }
    .transactions-grid-item:last-child{
        border-right: 2px solid white !important;
    }
    .transactions-grid:last-child{
        border-bottom:2px solid white !important;
    }

    .dashboard-elements{
        display:flex;
        flex-direction:column;
        align-items: center;
        width:100%;
    }
    .expenditures-container{
        margin:0;
    }
    .account-balances .display-flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .monthly-expenses-title{
        margin: 20px 0;
        width:350px;
        font-size:20px !important;
    }
    .spend{
        width:150px !important;
        margin:0 !important;
    }
    .spend-title{
        padding: 0 0 0 10px;
        font-size:12px;
        width:100px;
    }
    .spend-title-container{
        margin: 10px 10px 5px 5px;
    }
    .addCash-expenditure-title{
        padding:10px 170px 10px 20px;
    }
}

