.dashboard{
    display:flex;
    background-color:var(--blue-shade-8);
    height:100vh;
    flex:0.8;
}

.flex-direction-column{
    display:flex;
    flex-direction:column;
    width:100%;
}

.flex-direction-row{
    display:flex;
    width:100%;
}

.display-flex-between{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.dashboard-title{
    margin:0 auto ;
    padding:20px 20px;
    background-color:var(--blue-shade-9);
    color:var(--blue-shade-1);
    font-size: 20px;
    font-weight:500;
    width:calc(100% - 40px);
    height:40px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.account-balances{
    display:flex;
}

.assets-value{
    background:var(--blue-shade-1);
    margin:20px 10px;
    margin-left:30px;
    border-radius: 10px;
}

.assets-value-title-container{
    display:flex;
    align-items:center;
    margin: 10px 20px 10px 0;
}

.assets-value-title{
    padding:0 100px 0 20px;    
    margin:0;
}

.assets-values-container{
    margin: 0 20px;
    display:flex;
    justify-content: space-between;
}

.assets-text{
    margin:10px 0;
}

.spend{
    background:var(--blue-shade-2);
    margin:20px 10px;
    border-radius: 10px;
    height:60%;
    min-width: 170px;
}

.spend-title-container{
    display:flex;
    align-items:center;
    margin: 20px 20px 10px 0;
    font-size:14px;
}

.spend-title{
    padding:0 30px 0 20px;    
    margin:0;
}

.spend-total{
    text-align:center;
}

.recent-transactions-container{
    margin-left:30px;
    background-color:var(--blue-shade-6);
    border-radius:10px;
}

.recent-transactions-title{
    margin:0;
    padding: 10px 480px 10px 20px;
    border-radius:10px 10px 0 0;
    background-color:var(--blue-shade-1)
}






.expenditures-container{
    margin-left:30px;
    border-radius:10px;
    background-color:var(--blue-shade-6)
}

.addCash-expenditure-title{
    margin:0 auto 30px;
    padding:10px 200px 10px 20px;
    border-radius:10px 10px 0 0;
    background-color:var(--blue-shade-1);

}
.purchase-input{
    display:flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

.purchase-input-text{
    margin:0;
    font-size:16px;
}

.purchase-input-field{
    border-radius:2px;
    border:none;
    width:70%;
    font-family: 'Poppins', sans-serif;  
}

.purchase-input-field:focus{
    outline:none;
}

.expenditure-sum-input{
    display:flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

.expenditure-sum-input-text{
    margin:0;
    font-size:16px;
}

.expenditure-sum-input-field{
    border-radius:2px;
    border:none;
    width:70%;
    font-family: 'Poppins', sans-serif;
}

.expenditure-sum-input-field:focus{
    outline:none;
}

.expenditure-date-input{
    text-align: center;
    margin-bottom:10px;
    padding:0;
}

.expenditure-date-input-field{
    font-family: 'Poppins', sans-serif;    
}

.expenditure-category{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:20px;
}

.category-input-text{
    margin:0 0 10px 0;
}

.category-input-field{
    justify-content: start;
}

input[type="radio"]{
    margin:4px 5px 4px 16px;
    height: 20px;
}

.submit-expenditure{
    text-align: center;
}

.submit-expenditure-button{
    border:none;
    font-family: 'Poppins', sans-serif;    
    background: var(--blue-shade-1);
    color:white;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.submit-expenditure-button:active{
    transform: scale(0.95);
}

.error-box{
    background:#ffdce0;
    color:#922c2b;
    padding:10px 20px;
    margin:-15px auto 15px;
    border: 1px solid #922c2b;
    border-radius: 10px;
    width:70%;
}

.error-text{
    padding:0;
    margin:0;
    font-size:12px;
}

.error-title{
    padding:0;
    margin:0;
    font-size:16px;
}