.forecast{
    width:100%;
    background-color:var(--blue-shade-8);
}

.flex-direction-column{
    display:flex;
    flex-direction:column;
    width:100%;
}

.forecast-title{
    margin:0 auto;
    padding:20px;
    background-color:var(--blue-shade-9);
    color:var(--blue-shade-1);
    font-size: 20px;
    font-weight:500;
    width:calc(100% - 40px);
    height:40px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.chart-container{
    display:flex;
    justify-content: center;
    margin-top:20px;
}