.history{
    width:100%;
    background-color:var(--blue-shade-8);
    height:100vh;
}

.flex-direction-column{
    display:flex;
    flex-direction:column;
}

.history-title{
    margin:0 auto;
    padding:20px;
    background-color:var(--blue-shade-9);
    color:var(--blue-shade-1);
    font-size: 20px;
    font-weight:500;
    width:calc(100% - 40px);
    height:40px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.history-boxes-container{
    display:flex;
    justify-content: center;
    height:calc(100vh - 80px);
    overflow: auto;
}

.history-recent-transactions-container{
    background-color:var(--blue-shade-6);
    border-radius:10px;
    padding-bottom:10px;
    margin:20px 0;
    height:590px;
}

.history-recent-transactions-title{
    margin:0;
    padding: 10px 480px 10px 20px;
    border-radius:10px 10px 0 0;
    background-color:var(--blue-shade-1);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.history-recent-transactions-grid-titles-container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:10px;
    border-radius:5px;
}

.history-recent-transactions-grid-title{
    padding:5px 10px;
    text-align:center;
    background-color: var(--blue-shade-7);
    color:white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    font-size:20px;
    font-weight:900px;
}

.history-transactions-grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:0 10px;
}

.history-transactions-grid:last-child{
    border-bottom:3px solid white;
    border-radius: 5px;
}

.history-transactions-grid-item{
    padding:5px 10px;
    text-align:center;
    background-color:var(--blue-shade-8);;
    color:white;
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.history-transactions-grid-item-sum{
    text-align:right;
}

.history-transactions-grid-item-purpose{
    text-align:left;
}

.history-transactions-grid-item-category{
    background-color: rgb(44, 164, 44);
}

.history-transaction-elements{
    height:475px;
    overflow:hidden;
    overflow-y:scroll;
}

.history-transaction-elements::-webkit-scrollbar {
    display: none;
}

.no-transaction-text{
    text-align:center;
}

.assets-overview{
    background:var(--blue-shade-7);
    margin:20px 0 20px 20px;
    border-radius: 10px;
}

.assets-overview .assets-overview-title-container{
    display:flex;
    align-items:center;
    padding: 10px 20px 10px 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--blue-shade-1);
    margin:0;
}
  
.assets-overview-title{
    padding:0 100px 0 20px;  /* padding here determines box width*/
    margin:0;
}

.assets-overview-container{
    margin: 0 20px;
    display:flex;
    justify-content: space-between;
}

.assets-text{
    margin:10px 0;
    font-size:16px;
}

.filter-transactions-container{
    background:var(--blue-shade-7);
    margin-left:20px;
    border-radius:10px;
    padding-bottom:10px;
}

.filter-transactions-title-container{
    display:flex;
    align-items:center;
    padding: 10px 20px 10px 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--blue-shade-1);
    margin:0;
    justify-content: space-between;
}

.filter-transactions-title{
    padding-left: 20px;  /* padding here determines box width*/
    margin:0;
}

.filter-type{
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    margin-top:10px;
}

.filter-type-title{
    margin:0;
}

.type-choice{
    border-radius:2px;
    border:none;
    font-family: 'Poppins', sans-serif; 
    width:50%;
}

.filter-category{
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    margin-top:10px;
}

.filter-category-title{
    margin:0;
}

.category-choice{
    border-radius:2px;
    border:none;
    font-family: 'Poppins', sans-serif; 
    width:50%;
}



@media (max-width: 1030px){

.history-boxes-container{
    display:flex;
    height:100%;
    justify-content:center;
    flex-wrap: wrap;
    overflow: auto;
}

.history-values-container{
    display:flex;
    order: -1;
    margin-top:30px;
}

.filter-transactions-container{
    margin-bottom:20px;
    padding:0;
}

.filter-inputs-container{
    height:130px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.filter-category{
    margin:0
}

.filter-type{
    margin:0;
}

.recent-transactions-container{
    margin:0 0 20px 0;
}

.assets-overview{
    margin-left:0;
    margin-top:0;
}
}

@media (max-width: 800px){
    .history-recent-transactions-title{
        padding:10px 10px 10px 10px !important;
        font-size:15px;
    }
    .history-recent-transactions-container{
        width:350px;
        font-size:50%;
        height:350px;
    }
    .history-transactions-grid-item{
        padding:1px 2px !important;
    }
    .history-recent-transactions-grid-title{
        font-size:8px !important;
        border-top: 2px solid white !important;
        border-left: 2px solid white !important;
        border-bottom: 2px solid white !important;
        padding: 4px 8px !important;
    }
    .history-transaction-elements{
        height:260px;
    }
}

@media (max-width:600px){
    .history-values-container{
        flex-direction: column;
        align-items: center;
    }
    .filter-transactions-container{
        margin:0 0 20px 0;
    }
}
