.history{
    flex:0.8;
    background-color:var(--blue-shade-8);
}

.flex-direction-column{
    display:flex;
    flex-direction:column;
}

.history-title{
    margin:0 auto;
    padding:20px;
    background-color:var(--blue-shade-9);
    color:var(--blue-shade-1);
    font-size: 20px;
    font-weight:500;
    width:calc(100% - 40px);
    height:40px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.history-boxes-container{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}

.recent-transactions-container{
    margin-left:30px;
    background-color:var(--blue-shade-6);
    border-radius:10px;
    padding-bottom:10px;
}

.recent-transactions-title{
    margin:0;
    padding: 10px 480px 10px 20px;
    border-radius:10px 10px 0 0;
    background-color:var(--blue-shade-1);
    overflow-x: hidden;
    overflow-y: auto;
}

.recent-transactions-grid-titles-container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:10px;
    border-radius:5px;
}

.recent-transactions-grid-title{
    padding:5px 10px;
    text-align:center;
    background-color: var(--blue-shade-7);
    color:white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    font-size:20px;
    font-weight:900px;
}

.transactions-grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:0 10px;
}

.transactions-grid:last-child{
    border-bottom:3px solid white;
    border-radius: 5px;
}

.transactions-grid-item{
    padding:5px 10px;
    text-align:center;
    background-color:var(--blue-shade-8);;
    color:white;
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.transactions-grid-item-sum{
    text-align:right;
}

.transactions-grid-item-purpose{
    text-align:left;
}

.transactions-grid-item-category{
    background-color: rgb(44, 164, 44);
}

.transaction-elements{
    height:512px;
    overflow:hidden;
    overflow-y:scroll;
}

.transaction-elements::-webkit-scrollbar {
    display: none;
}

.assets-overview{
    background:var(--blue-shade-7);
    margin:0 0 20px 20px;
    border-radius: 10px;
}

.assets-overview .assets-overview-title-container{
    display:flex;
    align-items:center;
    padding: 10px 20px 10px 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--blue-shade-1);
    margin:0;
}
  
.assets-overview-title{
    padding:0 100px 0 20px;  /* padding here determines box width*/
    margin:0;
}

.assets-overview-container{
    margin: 0 20px;
    display:flex;
    justify-content: space-between;
}

.assets-text{
    margin:10px 0;
    font-size:16px;
}

.filter-transactions-container{
    background:var(--blue-shade-7);
    margin-left:20px;
    border-radius:10px;
    padding-bottom:10px;
}

.filter-transactions-title-container{
    display:flex;
    align-items:center;
    padding: 10px 20px 10px 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--blue-shade-1);
    margin:0;
    justify-content: space-between;
}

.filter-transactions-title{
    padding-left: 20px;  /* padding here determines box width*/
    margin:0;
}

.filter-type{
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    margin-top:10px;
}

.filter-type-title{
    margin:0;
}

.type-choice{
    border-radius:2px;
    border:none;
    font-family: 'Poppins', sans-serif; 
    width:50%;
}

.filter-category{
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    margin-top:10px;
}

.filter-category-title{
    margin:0;
}

.category-choice{
    border-radius:2px;
    border:none;
    font-family: 'Poppins', sans-serif; 
    width:50%;
}
